#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

:root {
}

* {
  box-sizing: border-box;
}

.background {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

.switch-flex {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  width: 30px;
  height: 30px;
}

h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

input {
  /* width: 560px; */

  width: 35rem;
  height: 3.5rem;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  text-indent: 3rem;
  outline: none;
  border: none;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: hsl(235, 24%, 19%);
  color: aliceblue;
}
