#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}



* {
  box-sizing: border-box;
}

.background {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

.switch-flex {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  width: 30px;
  height: 30px;
}

h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

input {
  /* width: 560px; */

  width: 35rem;
  height: 3.5rem;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  text-indent: 3rem;
  outline: none;
  border: none;
  display: flex;
  padding-top: 0.2em;
  
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: hsl(235, 24%, 19%);
  color: aliceblue;
}

.form-design{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.submit{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: 1em;
  background-color: hsl(235, 24%, 19%);
  outline: none;
  cursor: pointer;
  transition: transform 1s;
}

.submit:hover{
  transform: scale(1.2);
  
}


.TodoItem{
  width: 35rem;
  height: 3.5rem;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  
  position: relative;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  
}

.info{
  width: inherit;
  height: 2em;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info p{
  font-size: 0.7rem;
}

.task-flex{
  width: 10rem;
  display: flex;
  justify-content: space-between;
  
  
}